<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</head>
<body class="background">
	<nav class="navbar navbar-expand-lg bg-body-tertiary" style="opacity: .78;">
		<div class="container-fluid" style="padding: 0.5rem 4rem;">
		  <a class="navbar-brand fs-2 fw-bold" style="color: #28384f;" href="/">Treasure Hunt</a>
		  <ul class="navbar-nav mb-2 fs-4 fw-medium" style="gap: 2rem;">
			<li class="nav-item">
				<a class="nav-link" href="/admin/dashboard">Admin Dashboard</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/logout">Logout</a>
			</li>
		  </ul>
		</div>
	</nav>

	<!-- M -->
	<main class="container box">
		<section class="intro">
			<h2 class="display-4 fw-bold mb-5">The Treasure Hunt, Level - <%= clueNo %></h2>
			<p class="fw-normal" style="font-size: 1.63rem;"><%= desc %></p>
			<p class="fw-normal" style="font-size: 1.63rem;"><%= riddle %></p>
	<% if (clueNo == 3) { %>		
		<picture>
			<img src="/image/clue3.jpg" alt="image for clue3">
		</picture>
	<% } %>

	<% if (clueNo == 6) { %>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Hd_ptbiPoXM?start=453" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	<% } %>

	<div style="text-align: right;">
		<button type="button"class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="<%= hint %>">
			Hint
		</button>
	</div>
	
	<% if (clueNo !== 2 && clueNo !== 8) { %>	
	<!-- A -->
      <form action=<%= "./" + clueNo%> method="post">
		<div class="mb-3">
			<label for="answer" class="form-label fs-4 fw-semibold">Enter your answer:</label>
			<input class="form-control" type="text" id="answer" name="answer" required>
		</div>
		<button class="btn btn-primary" type="submit">Submit</button>
      </form>
	<% } %>
      <p class="wrng_ans"><%= errorMsg %></p>
		</section>
	</main>
	<!-- P -->

	<script>
		const myButton = document.querySelector('[data-bs-toggle="tooltip"]');
		const myTooltip = new bootstrap.Tooltip(myButton);
	</script>
</body>
</html>